@page
@model Proiect_Web_Onetiu_Malan.Pages.Destinations.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Destination</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Destination.Title" class="control-label"></label>
                <input asp-for="Destination.Title" class="form-control" />
                <span asp-validation-for="Destination.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Destination.Country" class="control-label"></label>
                <input asp-for="Destination.Country" class="form-control" />
                <span asp-validation-for="Destination.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Destination.Price" class="control-label"></label>
                <input asp-for="Destination.Price" class="form-control" />
                <span asp-validation-for="Destination.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Destination.EntryDate" class="control-label"></label>
                <input asp-for="Destination.EntryDate" class="form-control" />
                <span asp-validation-for="Destination.EntryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Destination.CityID" class="control-label">City Name</label>
                <select asp-for="Destination.CityID" class="form-control" asp-items="ViewBag.CityID">
                </select>
                <span asp-validation-for="Destination.CityID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
