@page
@model Proiect_Web_Onetiu_Malan.Pages.Destinations.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Destination</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Destination.ID" />
            <div class="form-group">
                <label asp-for="Destination.Title" class="control-label"></label>
                <input asp-for="Destination.Title" class="form-control" />
                <span asp-validation-for="Destination.Title" class="text-danger"></span>
            </div>
         <!-- <div class="form-group">
                <label asp-for="Destination.Country" class="control-label"></label>
                <input asp-for="Destination.Country" class="form-control" />
                <span asp-validation-for="Destination.Country" class="text-danger"></span>
            </div>-->
            <div class="form-group">
                <label asp-for="Destination.Price" class="control-label"></label>
                <input asp-for="Destination.Price" class="form-control" />
                <span asp-validation-for="Destination.Price" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Destination.EntryDate" class="control-label"></label>
                <input asp-for="Destination.EntryDate" class="form-control" />
                <span asp-validation-for="Destination.EntryDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Destination.CityID" class="control-label">City Name</label>
                <select asp-for="Destination.CityID" class="form-control" asp-items="ViewBag.CityID">
                </select>
                <span asp-validation-for="Destination.CityID" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Destination.CountryID" class="control-label">Country Name</label>
                <select asp-for="Destination.CountryID" class="form-control" asp-items="ViewBag.CountryID">
                </select>
                <span asp-validation-for="Destination.CountryID" class="text-danger"></span>
            </div>
            <div class="form-group">
 <div class="table">
 <table>
 <tr>
 @{
 int cnt = 0;
 foreach (var cat in Model.AssignedCategoryDataList)
{
 if (cnt++ % 3 == 0)
{
@:</tr><tr>
}
@:<td>
 <input type="checkbox"
 name="selectedCategories"
 value="@cat.CategoryID"
 @(Html.Raw(cat.Assigned ?
"checked=\"checked\"" : "")) />
 @cat.CategoryID @: @cat.Name
 @:</td>
 }
 @:</tr>
}
 </table>
 </div>
 </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary button" />
                 <a asp-page="./Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

<div>
   
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
