html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: linear-gradient(-45deg, #b3a8a4, #e0e090, #c4dfea, #c8e6df);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
.button {
    padding: 11px 11px;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: black;
    background-color: #ed7373;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px #999;
}

    .button:hover {
        background-color: darkcyan
    }

    .button:active {
        background-color: #9e9313;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
            
    }